@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: #000000;
  color: white;
  
}


.homePage {
  text-align: left;
  margin: 10rem;
  padding-left: 20rem;
}

.homePage h1 {
  font-size: 3rem;
  color: white;
  /* padding-left: 1rem; */
}

.homePage p {
  color: white;
  font-size: large;
}

.homePage h3 {
  color: white;
  /* margin-left: 1rem ; */
}


.images {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 10rem;
  padding-left: 27rem;
  row-gap: 3rem;
  
  /* border: 2px solid white; */

}

.images img {
  max-width: 120%;
  height: 120px;
  /* border: 2px solid white; */
  padding: 1rem;
  animation: floatInSpace 6s ease-in-out infinite;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
box-shadow:
  0 0 6px #4b6cb7,
  0 0 8px #bf65f7,
  0 0 10px #1f1c2c,
  0 0 12px #bf65f7;

  
  border-radius: 1rem;
   transition: transform 0.4s ease;
  transform-style: preserve-3d;
  background-color: rgb(255, 255, 255);
  

}
img:hover{
 transform: scale(1.05);
}

@keyframes floatInSpace {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, -5px) rotate(1deg);
  }

  50% {
    transform: translate(-5px, 5px) rotate(-1deg);
  }

  75% {
    transform: translate(3px, -3px) rotate(1deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
/*  */




.aboutPage {
  margin: 10rem;
  color: white;
  padding-left: 20rem;

}

.aboutPage h2 {
  font-size: 2rem;
  font-weight: 600;
}



.aboutPage p{
  margin-bottom: 1rem;
}

.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28rem;
  background: linear-gradient(-45deg, #1f1c2c, #4b6cb7, #bf65f7, #1f1c2c);
  background-size: 400% 400%;
  animation: gradientFlow 8s ease infinite;
   border-radius: 1rem;
    color: white;
    box-shadow:
  0 0 6px #4b6cb7,
  0 0 8px #bf65f7,
  0 0 10px #1f1c2c,
  0 0 12px #bf65f7;

  border: 1px solid rgba(255, 255, 255, 0.1);
  
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
form {

  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.3), 
              0 0 10px rgba(0, 115, 255, 0.5);
              width: 100%;

}

.contactForm input {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem;
  padding: 1rem 10rem 1rem;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  text-align: left;
  font-size: 1rem;
  color: black;
  
  }
  .contactForm textarea{
    margin-top: 15px;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 1rem;
    color: black;
    overflow: hidden;
    font-size: 1rem;

  }

.contactForm h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.contactForm button {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem 1rem;
  margin-left: 11rem;
  cursor: pointer;
  margin-bottom: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 15px;
}

.Skills{
  margin-left: 30rem;
}
.Skills h2{
  font-size: 2rem;
  font-weight: 600;
  margin-left: 5px;
}

.Skills span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;         
  height: 45px;         
  border: 1px solid white;
  border-radius: 1rem;
  margin: 0.5rem;
  font-weight: 600;
  color: rgb(11, 11, 11);
  background-color: #eff1f4;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1); 
  transition: transform 0.3s ease;
  font-weight: 500;
}

.Skills span:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 255, 255, 0.4); 
}

.Skills .Myskills {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid paleturquoise;
  padding: 2rem 2rem 2rem;
  background: white;
  color: black;
  font-size: 2rem;
  
} 


.Projects{
  margin-left:30.2rem;
  
}
.Projects h2{ 
  font-size: 2rem;
  font-weight: 600;
}